@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Josefin Sans';
    background-color: #FFFAFB;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF2625;
    --text-color: #3A1212;
    --hover-color: #d0212d;
}